* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-image: url("../img/background 1.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    height: 61px;
    margin-bottom: 120px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 51px;
    left: 161px;
}

.header-wrap:hover .text-decoration {
    color: #F26522;
}

.header-wrap:hover .text-decoration2 {
    color: #F26522;
}
.header-wrap:hover .logo {
    content: url("../img/logo 2.svg");
}

.decor:hover{
    color: #F26522;
}

.decor:hover{
    color: #F26522;
}

.text-decoration {
    color: #FFF;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 100% */
    top: 51px;
    left: 222px;
    position: absolute;
}

.text-decoration2 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
    top: 81px;
    left: 222px;
    position: absolute;

}

.e-mail {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    position: absolute;
    right: 177px;
    top: 46px;
}

.phone {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    position: absolute;
    right: 177px;
    top: 86px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.image {
    display: flex;
    justify-content: space-between;
}

.text-main {
    padding-top: 20px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}

.main-content {
    gap: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "it1 it2 it3"
    "it1 it2 it3"
    "it4 it5 it6"
    "it4 it5 it6";

}

.item1 {
    grid-area: it1;
}

.item2 {
    grid-area: it2;
}

.item3 {
    grid-area: it3;
}

.item4 {
    grid-area: it4;
}

item5 {
    grid-area: it5;
}

item6 {
    grid-area: it6;
}

.text-footer {
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
}

.main-content li {
    position: relative;

}

.main-content li:hover .hover-effect {
    display: flex;
    position: absolute;
    width: 299px;
    height: 55px;
    background-color: #F26522;
    z-index: 1;
    bottom: 38px;
}

.price {
    margin-top: 8px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}

.details {
    margin-top: 32px;
    margin-left: 128px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.details::after{
    content: url("../img/Vector 1.svg");
    margin-left: 16px;
}

.first-info {
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 100% */
}

.effect a:hover .text-main {
    color: #F26522;
}

.hover-effect {
    display: none;
}

.text-info{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-left: 15px;
}
